div{
    border: solid white 1px;
    color: white;
    background-color: red;
    display: flex;
    height: 150px;
    width: 150px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

body{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.active{
    border: solid red 1px;
    color: red;
    background-color: white;
}